<div class="card">
  <div class="card-header">
    <h1>The Code Coffee Lab</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">A little about me</h5>
    <p class="card-text">My name is NDIAYE Mohamed, I'm am from Senegal  West Africa. I have been working as a professionnal Software Engineer for 05+ years and I have a Double Master in Software Engineering from Asia Pacific University of Technology and Innovation (APU), Malasyia  and Staffordshire University United Kingdom (UK) .
Between my work and side projects, I always use various types of technologies. I consider myself as a newbie on every technology I explore and that gives me enough motivation and so much fun learning new things which is by the way my method to find tricks and achieve projects so much faster with efficiency. I think programming is always complex but fun at the same time when you like debugging and challenges like I do .
Given that I love collaborative work and sharing contents, I recently decided to create a YouTube channel where I stream my projects. My channel is mostly focused on publishing achieved projects to get improvement feedbacks and sharing source code for the sake of Open Source on GitHub.</p>
<h5 class="card-title">by Mohamed NDIAYE - Software Engineer</h5>
    <a href="https://www.thecodecoffeelab.com" target="_blank" class="btn btn-dark">VISIT THE CODE COFFEE LAB</a>
  </div>
</div>