<h1>The Code Coffee Lab - A contact book app based on Ruby on Rails</h1>
<h1>Usage:</h1>
<p>Register to create your own contact book, view your contact list, update a contact info or cancel your account.</p>

<p>If you like the project, please give it a star on GitHub:  <a href="#" target="_blank">Download it now!</a>.</p>