<div class="card">
  <div class="card-header">
    <h1>Edit contact</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      <%= render "form", contact: @contact %>
    <br>
    <div>
  <%= link_to "Show this contact", @contact, class:"btn btn-info" %> 
  <%= link_to "Back to contacts", contacts_path, class:"btn btn-primary" %>
</div>
    </p>
  </div>
</div>